/*
.container-fluid {
	height: 500px;
	background-image: url("pictures_on_the_wall.jpg");
	background-size: cover;
	background-position: center;
}
#nav-menu {
	font-weight: 800;
}

*/


/* main style start */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	color: #777;
}

h1 {
	font-size: 4em;
}

h3 {
	font-size: 1.2em;
	color: black;
}

section {
	padding: 60px 0;
}

section header {
	margin-bottom: 70px;
}

section .section-heading {
	text-transform: uppercase;
	margin-bottom: 25px;
	color: black;
}

section .section-description {
	font-family: 'Droid Serif', sans-serif;
	color: black;
}

a.btn-blue, .btn-blue {
	background-color: aqua;
	border: 1px solid aqua;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s;
	position: 15px 30px;
}

a.btn-blue:hover, .btn-blue:hover {
	background-color: rebeccapurple;
	border: 1px solid red;
}


#main-nav {
	background-color: transparent;
	border: 0;
}

#main-nav a.navbar-brand {
	font-size: 2em;
	font-family: 'Droid Serif', sans-serif;
	text-transform: inherit;
}

#main-nav a {
	color: #fff;
	text-transform: uppercase;	font-family: 'Droid Serif', sans-serif;
}
#main-nav a:hover {
	color: #0ed8d6;
}

#main-header {
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pictures_on_the_wall.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

#main-header .header-caption {
	color: #fff;
	width: 1000px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	left: 15%;	
}

#main-header .header-caption h1 {
	text-transform: uppercase;
}


/* main style end */

/* sekcja services */
#services .fa {
	font-size: 3em;
	height: 80px;
	width: 80px;
	line-height: 80px;
	border: 1px solid #0ed8d6;
	border-radius: 50%;
	color: #fff;
	background-color: #0ed8d6;
	transition: all .3s;
}

#services .fa:hover {
	color: #0ed8d6;
	background-color: #fff;
	transform: rotate(360deg);
	
}






































